In [57]:
import pandas as pd
import numpy as np
import openpyxl

In [2]:
from google.colab import files
uploaded = files.upload()

Saving 경기선행지수-한국.csv to 경기선행지수-한국.csv

In [3]:
data1 = pd.read_csv('경기선행지수-한국.csv')

In [52]:
data1[:3]

  country       amp  LTRENDIDX fer        date       cli
0     KOR  AMPLITUD  LTRENDIDX   M  2000-01-01  104.5551
1     KOR  AMPLITUD  LTRENDIDX   M  2000-02-01  104.0694
2     KOR  AMPLITUD  LTRENDIDX   M  2000-03-01  103.6081

In [5]:
len(data1['date'])

269

In [6]:
from google.colab import files
uploaded = files.upload()

Saving 삼전거래실적02_1_4.csv to 삼전거래실적02_1_4.csv

In [7]:
df1 = pd.read_csv('삼전거래실적02_1_4.csv', encoding='cp949')

In [8]:
df1[:20]

            일자       기관 합계  기타법인           개인       외국인 합계    경기선행지수
0   2000-01-04 -37800000.0   NaN  -51300000.0   89200000.0  104.5551
1   2000-01-05 -23600000.0   NaN    8489880.0   15200000.0       NaN
2   2000-01-06 -77500000.0   NaN   26400000.0   51100000.0       NaN
3   2000-01-07  11400000.0   NaN  -22900000.0   11500000.0       NaN
4   2000-01-10   1924100.0   NaN  -60500000.0   58600000.0       NaN
5   2000-01-11  -5460050.0   NaN  -66500000.0   72000000.0       NaN
6   2000-01-12 -10500000.0   NaN  -13000000.0   23600000.0       NaN
7   2000-01-13 -39900000.0   NaN   29800000.0   10000000.0       NaN
8   2000-01-14 -58100000.0   NaN  -47200000.0  105000000.0       NaN
9   2000-01-17  -6422430.0   NaN -118000000.0  124000000.0       NaN
10  2000-01-18 -24900000.0   NaN  -33900000.0   58800000.0       NaN
11  2000-01-19 -41300000.0   NaN    -355095.0   41700000.0       NaN
12  2000-01-20  14300000.0   NaN  -15600000.0    1325849.0       NaN
13  2000-01-21   1762381.0   NaN  -10700000.0    8896500.0       NaN
14  2000-01-24  20800000.0   NaN    7797375.0  -28600000.0       NaN
15  2000-01-25 -24100000.0   NaN   -8828307.0   32900000.0       NaN
16  2000-01-26 -18900000.0   NaN  -13500000.0   32500000.0       NaN
17  2000-01-27  -7213579.0   NaN  -10600000.0   17800000.0       NaN
18  2000-01-28 -20200000.0   NaN  -30900000.0   51100000.0       NaN
19  2000-01-31  38500000.0   NaN   32500000.0  -71000000.0       NaN

In [9]:
data1['date']

0      2000-01-01
1      2000-02-01
2      2000-03-01
3      2000-04-01
4      2000-05-01
          ...
264    2022-01-22
265    2022-02-22
266    2022-03-22
267    2022-04-22
268    2022-05-22
Name: date, Length: 269, dtype: object

In [10]:
data1['date'][0]

'2000-01-01'

In [11]:
type(data1['date'][0])

str

In [ ]:
data1['date'][0][:7]

'2000-01'

In [ ]:
data1['date'][0][4:]

'00'

In [ ]:
df1['일자'][0][:7]

'2000-01'

In [ ]:
df1['일자'][1][:7]

'2000-01'

In [ ]:
data1['date'][0][:7]

'2000-01'

In [ ]:
data1['date'][1][:7]

'2000-02'

In [ ]:
# cli_list = []
# for i in df1['일자']:
#   for g in range(0,len(data1['date'])):
#     if data1['date'][g][:7] == i[:7]:
#       cli_list.append(data1['cli'][g])
#     else:
#       pass

In [15]:
df2 = np.array(df1['일자'])

In [16]:
df2

array(['2000-01-04', '2000-01-05', '2000-01-06', ..., '2022-06-28',
       '2022-06-29', '2022-06-30'], dtype=object)

In [ ]:
df2[0]

'2000-01-04'

In [17]:
#월별로 첫 번째 거래일자가 오는 위치(인덱스)에 1을 더해준 리스트 생성
change_index = []
aaa = '2000-00'
for i in df2:
  bbb = i
  if bbb[:7] != aaa:
    change_index.append(1)
  else:
    change_index.append(0)
  aaa = bbb[:7]

In [ ]:
change_index

In [18]:
ttt = 0
for i in change_index:
  if i ==1:
    ttt +=1
print(ttt)
# 기준되는 날짜는 6월까지 이므로 1이 하나 더붙어서 270개가되었음  ----> 마지막으로 추가된 1은 0으로 다시 바꿔야함 (데이터가 5월까지밖에 없으므로)

270

In [ ]:
change_index[-1]

0

In [ ]:
len(change_index)

5550

In [19]:
data1['cli'][268]

98.92125

In [ ]:
data1['cli'][269]

In [ ]:
len(abc_list)

5550

In [ ]:
data1['cli']

In [ ]:
type(df1['일자'])

pandas.core.series.Series

In [ ]:
df2

array(['2000-01-04', '2000-01-05', '2000-01-06', ..., '2022-06-28',
       '2022-06-29', '2022-06-30'], dtype=object)

In [ ]:
len(df2)

5550

In [ ]:
df2[0]

'2000-01-04'

In [23]:
#마지막 1값을 0으로 변환(추가할 데이터가 5월까지밖에 없으므로 6월의 1이 껴있으면 에러발생)
change_index[5520:]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [24]:
change_index[5530]

1

In [25]:
change_index[5530] = 0

In [26]:
#만들어준 리스트를 통해 1이 추가된 인덱스(월별 첫 번째 거래일)에 월별데이터(경기선행지수 대입)
abc_list = []
a = 0
for g in change_index:
  if g==1:
    abc_list.append(data1['cli'][a])
    a += 1
  else:
    abc_list.append(0)

In [27]:
df1['cli'] = abc_list

In [54]:
df1.head()

           일자       기관 합계  기타법인          개인      외국인 합계    경기선행지수         cli
0  2000-01-04 -37800000.0   NaN -51300000.0  89200000.0  104.5551  104.555100
1  2000-01-05 -23600000.0   NaN   8489880.0  15200000.0       NaN  105.711752
2  2000-01-06 -77500000.0   NaN  26400000.0  51100000.0       NaN  105.644972
3  2000-01-07  11400000.0   NaN -22900000.0  11500000.0       NaN  105.578678
4  2000-01-10   1924100.0   NaN -60500000.0  58600000.0       NaN  105.512867

In [29]:
#0을 NaN값으로 변환
df1['cli'] = df1['cli'].replace(0,np.NaN)

In [53]:
df1.head()

           일자       기관 합계  기타법인          개인      외국인 합계    경기선행지수         cli
0  2000-01-04 -37800000.0   NaN -51300000.0  89200000.0  104.5551  104.555100
1  2000-01-05 -23600000.0   NaN   8489880.0  15200000.0       NaN  105.711752
2  2000-01-06 -77500000.0   NaN  26400000.0  51100000.0       NaN  105.644972
3  2000-01-07  11400000.0   NaN -22900000.0  11500000.0       NaN  105.578678
4  2000-01-10   1924100.0   NaN -60500000.0  58600000.0       NaN  105.512867

In [32]:
#interpolate함수를 통한 스플라인보간법, order=5(cubic)방식 활용  월별데이터 --> 일별데이터
df1['cli'] = df1['cli'].interpolate(method ='spline',order=5,axis=0)

In [33]:
df1[:20]

,일자,기관 합계,기타법인,개인,외국인 합계,경기선행지수,cli
0,2000-01-04,-37800000.0,NaN,-51300000.0,89200000.0,104.5551,104.555100
1,2000-01-05,-23600000.0,NaN,8489880.0,15200000.0,NaN,105.711752
2,2000-01-06,-77500000.0,NaN,26400000.0,51100000.0,NaN,105.644972
3,2000-01-07,11400000.0,NaN,-22900000.0,11500000.0,NaN,105.578678
4,2000-01-10,1924100.0,NaN,-60500000.0,58600000.0,NaN,105.512867
5,2000-01-11,-5460050.0,NaN,-66500000.0,72000000.0,NaN,105.447537
6,2000-01-12,-10500000.0,NaN,-13000000.0,23600000.0,NaN,105.382686
7,2000-01-13,-39900000.0,NaN,29800000.0,10000000.0,NaN,105.318312
8,2000-01-14,-58100000.0,NaN,-47200000.0,105000000.0,NaN,105.254411
9,2000-01-17,-6422430.0,NaN,-118000000.0,124000000.0,NaN,105.190982
10,2000-01-18,-24900000.0,NaN,-33900000.0,58800000.0,NaN,105.128022
11,2000-01-19,-41300000.0,NaN,-355095.0,41700000.0,NaN,105.065530
12,2000-01-20,14300000.0,NaN,-15600000.0,1325849.0,NaN,105.003502
13,2000-01-21,1762381.0,NaN,-10700000.0,8896500.0,NaN,104.941936
14,2000-01-24,20800000.0,NaN,7797375.0,-28600000.0,NaN,104.880830
15,2000-01-25,-24100000.0,NaN,-8828307.0,32900000.0,NaN,104.820181
16,2000-01-26,-18900000.0,NaN,-13500000.0,32500000.0,NaN,104.759988
17,2000-01-27,-7213579.0,NaN,-10600000.0,17800000.0,NaN,104.700248
18,2000-01-28,-20200000.0,NaN,-30900000.0,51100000.0,NaN,104.640959
19,2000-01-31,38500000.0,NaN,32500000.0,-71000000.0,NaN,104.582118

In [34]:
df1['cli'].mean()

100.10979638739089

In [56]:
df1[487:490]

,일자,기관 합계,기타법인,개인,외국인 합계,경기선행지수,cli
487,2002-01-02,28600000.0,NaN,-89700000.0,61100000.0,100.9421,100.942100
488,2002-01-03,23200000.0,NaN,-28200000.0,4949145.0,NaN,99.585215
489,2002-01-04,-6242003.0,NaN,-62800000.0,69100000.0,NaN,99.588284

In [48]:
df2 = df1[487:]

In [55]:
df2.head()

,일자,기관 합계,기타법인,개인,외국인 합계,경기선행지수,cli
487,2002-01-02,28600000.0,NaN,-89700000.0,61100000.0,100.9421,100.942100
488,2002-01-03,23200000.0,NaN,-28200000.0,4949145.0,NaN,99.585215
489,2002-01-04,-6242003.0,NaN,-62800000.0,69100000.0,NaN,99.588284
490,2002-01-07,-25000000.0,NaN,12900000.0,12100000.0,NaN,99.591342
491,2002-01-08,-8760316.0,NaN,29600000.0,-20800000.0,NaN,99.594387

In [51]:
df2.to_excel('CLI_sample.xlsx')